@model RICONS.Web.Models.ChucDanhModels
@{
    ViewBag.Title = "Danh mục chức vụ";
}
@*--css--*@
@section CSS
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~")themes/RICONS-2015/css/controller/Danhmucchucvu.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~")themes/RICONS-2015/css/chosen/chosen.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~")themes/RICONS-2015/css/chosen/prism.css" />
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~")themes/RICONS-2015/css/controller/MilestonesCSS.Create.css" />*@
}

@*--javascript--*@
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~")themes/RICONS-2015/js/controllers/Danhmucchucvu.js"></script>
    <script type="text/javascript" src="@Url.Content("~")themes/RICONS-2015/js/chosen/prism.js"></script>
    <script type="text/javascript" src="@Url.Content("~")themes/RICONS-2015/js/table/buildTable.js"></script>
    <script type="text/javascript" src="@Url.Content("~")themes/RICONS-2015/js/colResizale/colResizable-1.3.source.js"></script>
    <script type="text/javascript" src="@Url.Content("~")themes/RICONS-2015/js/chosen/chosen.jquery.js"></script>
    <script type="text/javascript" src="@Url.Content("~")themes/RICONS-2015/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~")themes/RICONS-2015/js/jquery.datepick-vi.js"></script>
    <script type="text/javascript" src="@Url.Content("~")Themes/RICONS-2015/css/TableBuild/global/plugins/jquery.blockui.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~")Themes/RICONS-2015/css/TableBuild/global/scripts/app.min.js"></script>

    <script type="text/javascript" src="@Url.Content("~")themes/RICONS-2015/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~")themes/RICONS-2015/js/bootbox.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~")themes/RICONS-2015/js/custom.js"></script>
}
<script>
    var linkContent = '@Url.Content("~")';
</script>


<div class="HeaderFixed">
    <div class="b-b b-light">
        <div class="p-left c-black">Danh mục chức vụ</div>
        <div class="clearBoth"></div>
    </div>
</div>

<div class="boxEdit">
    <div id="frm-create">
        @using (Html.BeginForm("Updatechucvu", "Danhmuc", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            <input type="hidden" name="act" value="create" />
            <input type="hidden" name="id" value="" />

            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2" style="width:115px"></div>
                        <div class="col-md-7"><label style="color:red" id="lblthongbao" class="hidden"></label></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2" style="width: 115px; padding-left: 10px">Tên chức danh:</div>
                        <div class="col-md-6" style="padding-left:10px"><input type="text" style="width:100%" autocomplete="off" placeholder="Tên chức danh" name="tenchucdanh" /></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2" style="width: 115px; padding-left: 10px">Tên giao dịch:</div>
                        <div class="col-md-6" style="padding-left:10px"><input type="text" style="width: 100%" autocomplete="off" placeholder="Tên giao dịch" name="tengiaodich" /></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2" style="width: 115px; padding-left: 10px">Ghi chú:</div>
                        <div class="col-md-6" style="padding-left:10px"><input type="text" style="width: 100%" autocomplete="off" placeholder="Ghi chú" name="ghichu" /></div>
                    </div>
                </div>
            </div>


            <div class="row" style="width: 100%; padding-bottom: 10px; padding-left: 10px">
                <div class="col-md-12">
                        <div class="col-md-2" style="width:115px"></div>
                    <div class="col-md-1" style="width:90px">
                        <input type="button" id="btn-create" class="buttoncustom WhiteButton" name="New" value="Thêm mới" />
                    </div>
                    <div class="col-md-1" style="width:90px">
                        <input type="button" id="btn-save" class="buttoncustom WhiteButton" name="Save" value="Lưu" />
                    </div>

                    <div class="col-md-1" style="width:90px">
                        <input type="button" id="btn-edit" class="buttoncustom WhiteButton" name="Update" value="Hiệu chỉnh" />
                    </div>

                    <div class="col-md-1" style="width:90px">
                        <input type="button" id="btn-delete" class="buttoncustom WhiteButton" name="Delete" value="Xoá" />
                    </div>


                </div>
            </div>
        }
    </div>
</div>

<div style="width:100%; height:75%;">
    <div id="boxContent">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table_danhSach" id="tableContent">
                            <thead>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9" id="girdInfo">Tổng số: <span class="sumRow">0</span></td>
                                </tr>
                                <tr>
                                    <td colspan="16" id="girdInfoLoad">
                                        <div class="divExentd"><i class="retweet_32"></i>Xem thêm</div>
                                    </td>
                                </tr>
                                @*<tr>
                                        <td colspan="16" id="footerInfo">
                                            <div class="companyName">Ricons Construction Investment JSC</div>
                                            <div class="address">236/6 Dien Bien Phu, Ward 17, Binh Thanh Dist., HCMC, Vietnam</div>
                                        </td>
                                    </tr>*@
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btn-create').on('click', function (e) {
            var form = $(this).closest('form');
            form.find('input[name="act"]').val('create');
            form.find('input[name="id"]').val('');
            form[0].reset();
        });

        $('#btn-save').on('click', function (e) {
            var form = $(this).closest('form');
            form.submit();
        });
        // hieu chinh
        $('#btn-edit').on('click', function (e) {
            var form = $(this).closest('form');
            var checked = $('.chkCheck:checked');
            if (checked && checked.length <= 0) {
                alert('Vui lòng check dòng cần hiệu chỉnh');
                return false;
            } else {
                var listChecked = $('.chkCheck:checked');
                var ID = $(listChecked[0]).attr('mpb');
                var row = $(listChecked[0]).closest('tr.rows-box');
                form.find('input[name="act"]').val('update')
                form.find('input[name="id"]').val(ID);
                form.find('input[name="tenchucdanh"]').val(row.find('.col4').text());
                form.find('input[name="tengiaodich"]').val(row.find('.col5').text());
                form.find('input[name="ghichu"]').val(row.find('.col6').text());
            }
        })

        $('#btn-delete').on('click', function (e) {
            var form = $(this).closest('form');
            var checked = $('.chkCheck:checked');
            if (checked && checked.length <= 0) {
                alert('Vui long chon 1 ');
                return false;
            } else {
                var listChecked = $('.chkCheck:checked');
                var ID = $(listChecked[0]).attr('mpb');
                var row = $(listChecked[0]).closest('tr.rows-box');
                form.find('input[name="act"]').val('delete')
                form.find('input[name="id"]').val(ID);
                //form.find('input[name="tenvanphongpham"]').val(row.find('.col3').text());
                form.submit();
            }
        })


    })
</script>



